body{
	background-image:url("perumal.jpeg");
	height: 100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;

}
body,html{
	height:100%;
}
h1{
	text-align:center;

  font-color:rgba(255,0,123,0);
  font-family:sans-serif;
  padding:10px 20px 30px 40px;
 
  border-top:20px solid orange;
  border-left:20px solid steelblue;
  border-right:20px solid steelblue;
  border-bottom:20px solid orange;
  font-weight:bold;
font-size:60px
}
img{
	transition:all 1s;
}
img:hover{
	transform:scale(1.1);
}